<div ng-if="user.isLoggedIn" class="welcome-message">
	<a href="#ex2" rel="modal:open" class="login splashbutton splashbutton3"><img class="hamburger-icon" ng-src="imgs/hamburger.png" alt="" /></a>
</div>
	<div class="splashcontainer">
		<div class="splashcontent">
				<div class="title">
					<div class='alienMargin'><span style='display: none;'>FAKE</span></div>
					<div class="alien">Alien</div>
						<div class="separator"></div>
					<div class="hunt">Hunt</div>
				</div>
				<div class="splashbuttons">
					<ul ng-show="options">
            <li class="splashbutton" ng-click='stopSplashMusic(); play()'> <img class='selectImg selectImg1' ng-src="imgs/select.png" alt=""><span class='splashbutton1'> Play</span></li>
            <li ng-show="user" class="splashbutton"> <img class='selectImg selectImg2' ng-src="imgs/select.png" alt=""><span class='splashbutton2'> Continue</span></li>
						<li ng-hide="user.isLoggedIn"> <img class='selectImg selectImg3' ng-src="imgs/select.png" alt="">  <a href="#ex1" rel="modal:open" class="login splashbutton splashbutton3">Login</a></li>
            <li class="splashbutton" ng-click='mute()'> <img class='selectImg selectImg4'; ng-src="imgs/select.png" alt=""><span class='splashbutton4'> Mute</span></li>
            <li class="splashbutton"> <img class='selectImg selectImg5' ng-src="imgs/select.png" alt=""><span ng-click="getScoreboard()" class='splashbutton5'> <a href="#ex3" rel="modal:open" style="text-decoration: none;" class="splashbutton splashbutton5">High Scores</a></span></li>
					</ul>
				</div>
		</div>
	</div>

	<!--- Facebook Login Modal --->
		<div id="ex1" style="display:none;">
		  <p>In order to keep track of your progress and save scores, please Log In via Facebook. <p> Don't worry, we don't post to your wall or have access to any of your Data.  Log In or press ESC</p>
			<p>
				<div class="social-wrap a">
					<a href="http://localhost:8080/auth/facebook"><button id="facebook">Sign in with Facebook</button></a>
				</div>
			</p>
		</div>

	<!-- User Information Modal -->
		<div id="ex2" style="display:none;">
			<p><h4>Welcome back, {{user.firstName}}!</h4></p>
			<p>
				<div>
					<li>Current Level: {{user.currentGameLvl}}</li>
					<li>Highest Level: {{user.highLevel}}</li>
					<li>High Score: {{user.highScore | number}}</li>
					<li>Score: {{user.currentScore | number}}</li>
				</div>
			</p>
		</div>

	<!-- High Score Modal -->
		<div class="high-score" id="ex3" style="display:none;">
			<p>
				<h1><u>High Scores:</u></h1>
			</p>
			<div ng-repeat="score in scores" class="high-score-list">
				<li>{{score.place}}. {{score.userName}} <span style="float:right">{{score.score | number}} pts</span></li>
			</div>
		</div>
