
body {
  font-family: 'VT323', monospace;
  color: green;
  background: url(https://scienceisbrilliant.files.wordpress.com/2013/10/black-spce.jpg);
}


.splashcontainer {
  width: 80vh;
  height: 80vh;
  /*border: 3px solid yellow;*/
  margin: 100px auto;
}

.splashcontent {
  vertical-align: middle;
}

.separator {
  width: 50vh;
  height: 1vh;
  background-color: green;
}

.title {
  width: 50vh;
  font-size: 7em;
  font-weight: 400;
  font-family: 'Bungee', cursive;
  margin: 20px auto;
  padding: auto 0px;
  margin-bottom: 127px;
  margin-top: 205px;
  position: relative;

}



.alien{
  position: absolute;
  top: -123px;
  left: -1000px
}

.hunt{
  position: absolute;
  right: -1000px;
}

.splashbuttons {
  width: 45vh;
  margin: 0 auto;
  list-style: none;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4em;
}

.splashbuttons ul {
  list-style: none;
}

.splashbuttons ul li:hover {
  color: white;
  cursor: pointer;
}

.selectImg{
  width: 20px;
  height: 20px;
}
